
@{
    ViewBag.Title = "AdministratorPanel";
}

<html>
<head>
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="mainPanel">
    <div class="adminMenuPanel">
        <p class="menuButton">Список менеджеров</p>
        <p class="menuButton">Список машин</p>
    </div>
    <div class="activeWindow">...Элементы...</div>
    </div>
</body>
</html>

